@import '../../global.scss';

.about {
    display: flex;
    align-items: center;
    justify-content: center;

    @include laptop {
        display: flex;
        flex-direction: column;
        gap: 80px;
    }

    .aboutLeft {
        width: 50%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include laptop {
            width: 100%;
            height: 50%;
            padding: 0;
        }
    }

    .aboutRight {
        width: 50%;
        height: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include laptop {
            width: 100%;
            height: 50%;
            padding: 0;
        }
    }
}