.textzone-text {
    font-size: 18px;
    line-height: 1.4;
    color: var(--dark-primary);
    text-transform: capitalize;
    margin: 10px 0;
    white-space: pre-wrap;
}

.textzone-link {
    width: fit-content;
    margin: 10px 0;
    color: var(--dark-secondary);
    font-size: 18px;
    text-transform: capitalize;
    transition: all .3s ease;

    &:hover {
        opacity: .5;
    }
}