.timelineItem {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
}

.timelineDate {
  text-align: right;
  margin: 0 1rem 1rem 1rem;
}

.timelineBar {
  background-color: var(--color-accent);
  position: relative;
}

.timelineCircle {
  background-color: var(--color-accent);
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.timelineContent {
  background-color: var(--color-accent);
  margin: var(--margin);
  border-radius: var(--radius);
  padding: var(--padding);
  min-height: 153px;
  color: var(--color-primary);
  cursor: pointer;
}

.timelineContent:hover {
  background-color: var(--color-secondary);
  color: var(--color-accent);
}

.timelineHeader {
  font-size: var(--header-small);
  text-transform: uppercase;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.timelineDetails {
  padding: 1rem 0 0 0;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.timelineItem:nth-child(2n) {
  direction: rtl;
}

.timelineItem:nth-child(2n) .timelineDate,
.timelineItem:nth-child(2n) .timelineDetails,
.timelineItem:nth-child(2n) .timelineHeader {
  text-align: left;
  direction: ltr;
}

@media screen and (max-width: 500px) {
  .timelineContent {
    padding: calc(var(--padding) / 2);
    margin: calc(var(--margin) / 2);
  }
}
