.home {
    position: relative;
    overflow: hidden;
    display: flex;
    // justify-content: center;
    align-items: center;

    .textArea {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}