.navigation {
  height: 3em;
  position: relative;
}

.col {
  display: flex;
  justify-content: flex-end;
  gap: var(--gap);
}

.links {
  font-size: var(--font-regular);
  text-transform: capitalize;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 3em;
  width: 3em;
  object-fit: contain;
}

@media screen and (max-width: 600px) {
  .links {
    font-size: calc(var(--font-regular) / 1.2);
  }
}
