.heroText {
  font-size: 7em;
  text-transform: uppercase;
}

.heroText span {
  background: var(--linear-gradient);
  background-clip: text;
  -webkit-text-stroke: 6px transparent;
  color: var(--color-accent);
}

@media screen and (max-width: 1024px) {
  .heroText {
    font-size: calc(7em / 1.2);
  }
}
@media screen and (max-width: 768px) {
  .heroText {
    font-size: calc(7em / 1.6);
  }
}

@media screen and (max-width: 600px) {
  .heroText {
    font-size: calc(7em / 2);
  }
}

@media screen and (max-width: 400px) {
  .heroText {
    font-size: calc(7em / 2.3);
  }
}
