@import '../../global.scss';

.sidebar {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 12;
    background-color: var(--light-primary);
    position: fixed;
    top: 0;
    left: 0;
    transition: all .4s ease;

    &.visible {

        @include mobile {
            display: block;
            animation: reveal 1s linear;
        }
    }

    .sidebar-list {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}