.skill {
  padding: var(--padding);
  background-color: var(--color-accent);
  color: var(--color-primary);
  width: fit-content;
  border-radius: var(--radius);
  cursor: pointer;
}

.skill::first-letter {
  text-transform: uppercase;
}

.skill:hover {
  background-color: var(--color-secondary);
}
