@import "../../global.scss";

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  // overflow: hidden;

  .wrapper {
    margin: 90px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    overflow: hidden;

    @include ipad {
      grid-template-columns: 1fr;
    }

    @include phablet {
      margin: 50px 0;
    }
  }
}
