@import '../../global.scss';

.projects {
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .wrapper {
        margin-top: 90px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
}