@import '../../global.scss';

.list-item-wrapper {
    transition: all .3s ease;
    color: var(--dark-secondary);

    .list-item {

        h4 {
            font-size: 18px;
            font-weight: 500;
            transition: all .6s ease;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0%;
                height: 2px;
                background-color: var(--dark-secondary);
                opacity: 0;
                transition: opacity 1000ms, transform 1000ms;
            }

            &:hover::after, &:focus::after {
                transform: translate3d(0, 0, 0);
                opacity: 1;
                width: 100%;
                border-radius: 21px;
                animation: slideIn .3s linear;
            }
        }

        img {
            width: 35px;

            @include ipad {
                width: 30px;
            }
        }
    }
}