@import '../../global.scss';

a {
    transition: all .3s ease;
    color: var(--dark-primary);

    .list-item {

        h4 {
            font-size: 18px;
            font-weight: 500;
        }

        img {
            width: 35px;

            @include ipad {
                width: 30px;
            }
        }
    }
}