@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Courgette&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu Mono", monospace;
}

:root {
  --light-primary: #f4f5ff;
  --dark-primary: #2f1c6a;
  --dark-secondary: #212529;
  --grey: #9e9696;
  --grey-light: rgb(223, 222, 222);
  --white: #fff;
  --lobsterFont: "Lobster Two", cursive;
  --balsamicSans: "Balsamiq Sans", cursive;
}

body {
  user-select: none;
  background-color: var(--light-primary);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

// Media Query
$largeLaptop: 1440px;
@mixin laptopLarge {
  @media (max-width: #{$largeLaptop}) {
    @content;
  }
}

$laptopMid: 1220px;
@mixin laptopMid {
  @media (max-width: #{$laptopMid}) {
    @content;
  }
}

$laptop: 1024px;
@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

$ipad: 820px;
@mixin ipad {
  @media (max-width: #{$ipad}) {
    @content;
  }
}

$tab: 768px;
@mixin tab {
  @media (max-width: #{$tab}) {
    @content;
  }
}

$phablet: 600px;
@mixin phablet {
  @media (max-width: #{$phablet}) {
    @content;
  }
}

$mobile: 450px;
@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

$mobile-small: 399px;
@mixin mobileSmall {
  @media (max-width: #{$mobile-small}) {
    @content;
  }
}

.default {
  -webkit-animation: slidein-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slidein-top-fwd 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.slide {
  animation: slideRight 1s linear;
}

.active {
  display: inline-block;
  animation: jumpy 2s both;
  color: var(--dark-primary);
}

// Fonts
.header {
  font-size: 90px;

  @include laptopMid {
    font-size: 80px;
  }

  @include laptop {
    font-size: 70px;
  }

  @include ipad {
    font-size: 60px;
  }

  @include tab {
    font-size: 50px;
  }

  @include phablet {
    font-size: 40px;
  }

  @include mobile {
    font-size: 35px;
  }

  @include mobileSmall {
    font-size: 30px;
  }
}

@keyframes reveal {
  0% {
    clip-path: circle(5%);
    background-color: var(--dark-primary);
    z-index: 15;
  }
  100% {
    clip-path: circle(100%);
    z-index: 15;
  }
}

@keyframes slideRight {
  0% {
    width: 0%;
  }
  100% {
    width: none;
  }
}

@-webkit-keyframes jumpy {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jumpy {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  40% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  50% {
    -webkit-transform: scale3d(0.85, 1.15, 1);
    transform: scale3d(0.85, 1.15, 1);
  }
  65% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  75% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@-webkit-keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes wavey {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-20px);
  }
}

@keyframes wave {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

@keyframes slideIn {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
