@import '../../global.scss';

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-secondary);

    @include mobile {
        display: none;
    }

    .logoContainer {
        position: absolute;
        top: 0;
        left: 5px;

        .logo {
            font-family: var(--lobsterFont);
            color: var(--light-primary);
            font-size: 60px;
            text-align: center;
            text-shadow:0 1px 0 var(--accentColor), 0 2px 0 var(--accentColor), 0 3px 0 var(--accentColor), 0 4px 0 var(--accentColor), 0 5px 0 var(--accentColor), 0 6px 0 var(--accentColor), 0 7px 0 var(--accentColor), 0 8px 0 var(--accentColor), 0 9px 0 var(--accentColor), 0 50px 30px rgba(0, 0, 0, 0.3);
            transition: all .3s ease;
            cursor: pointer;

            &:hover {
                opacity: .5;
            }
        }
    }

    .navbarList {
        display: flex;
        flex-direction: column;
        gap: 30px;

        a {

            &:hover {
                opacity: .5;
            }
        }
    }
}