@import '../../global.scss';

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 60px;
    height: 100%;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    z-index: 14;

    @include phablet {
        display: none;
    }

    .logo {
        height: 50%;
        width: 100%;
        position: relative;

        a {

            .logo-main {
                font-size: 60px;
                color: transparent;
                text-transform: uppercase;
                font-family: var(--lobsterFont);
                font-style: italic;
                cursor: pointer;
                position: absolute;

                &:nth-child(1) {
                    color: transparent;
                    -webkit-text-stroke: 2px var(--dark-secondary);
                }

                &:nth-child(2) {
                    color: var(--dark-secondary);
                    animation: wave 4s ease infinite;
                }
            }
        }
    }

    .links {
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        .list {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 20px;
        }
    }

    .links::after {
        content: '';
        height: 160px;
        width: 0;
        border: 1px solid var(--dark-secondary);

        @include ipad {
            height: 130px;
        }
    }
}